/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center; 
    position: sticky;
    /* top: 0px; */
}

 
/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family:'Baloo Bhaijaan 2', cursive;
}
/*
font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Vujahday Script', cursive;
*/

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    margin-top: 5px;
    padding: 0px 20px 0px 10px;
    border-radius: 10px;
    text-decoration: none;
}
/* 
#navbar ul li a:hover{
    color: white;
    background-color: red;
} */

body{
    background-color: black;
}

.navtop_text{
    color: #FAF9F6	;
    padding-left: 6rem;
}

.navbar_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navtop{
    padding: 1rem;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navtop_text{
    font-size: 35px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.navbar{
    padding-left: 7rem;

}

.fas{
    color: #808080;
    padding-right: 0.5rem;
}

.navtop{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.navicons{
    width: 8vw;
    justify-content: space-around;
    display: flex;
}

.box_navbar{
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px 1px 0px;
}

.box_navbar :hover{
    /* color: green; */
    text-decoration: underline;
    cursor: pointer;
    /* background-color: green; */
}

.hr_navbar{
    opacity: 0.1;
    margin-top: 20px;
}

.hr_navbar_2{
    margin-top: 20px;
    opacity: 0.1;
}

.box_navbar_text{
    color: white;
}

.hero_section{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero_section_text{
    width: 100vw;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 6rem;
    font-family: 'Poppins', sans-serif;
}

/* .hero_section_img{
    width: 50vw;
    object-fit: cover;
} */

.main_text{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}

.main_text_text1{
    color: white;
    font-size: 30px;
    text-align: center;
}



.Terms{
    color: white;
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Thd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 115rem;
  }

  .Termshead{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 50%;
  }

  .Termsbody{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }