<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Papyrus/About us</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://kit.fontawesome.com/aa9a150395.js" crossorigin="anonymous"></script>
</head>
<body>
	<%- include("./partials/header")%>

    <hr class="hr_navbar" />
	<section id="about-us">
		<div id="heading">
			<h1>About us</h1>
		</div>
		<div id="introduction">
			Papyrus was founded in 2020 by book enthusiasts Mridul Goyal, Agnit Singh & Ayush Aryan. Our vision is to serve and connect with a new generation of enthusiasts who engage purely on social media. We started on Instagram to create a community of hardcore book enthusists and we are only getting started! In this one year, we have build a community of
		<ul>
			<li>10,000 Instagram Followers</li>
			<li>1,000 Active Discord Members</li>
			<li>5,00,000+ Monthly Impressions</li>
			<li>87% of our users are between 16-40 years old</li>
		</ul>
	</div>
	<div id="office-head">
	<span><b>Papyrus Office</b></span>
	<span>5/F Pocket, A3, Mayur Vihar Phase 3, New Delhi</span>
	<span>contact@papyrus.in</span>
	<span>+91 96900690<69</span>
	</div>
	</section>
	<%- include("./partials/footer")%>

</body>
</html>