<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papyrus/create account</title>
    <link rel="stylesheet" href="/css/Create.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Nunito&family=Open+Sans:wght@400;500&family=Playball&family=Poppins:ital,wght@0,400;1,500&family=Vujahday+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body>
    <%- include("./partials/header")%>
    <hr class="hr_navbar" />

      <div class="create">

        <div class="ctext"><h3>Create account</h3></div>

        <div class="cboxex">

            <form class="create buttons" action="/create" method="POST">

                <input type="text" id="fname" name="firstname" placeholder="First name">

                <input type="text" id="lname" name="lastname" placeholder="Last name">
                
                <input type="text" id="lname" name="email" placeholder="Email">

                <input type="password" id="lname" name="password" placeholder="Password">
             
                <input type="submit" id="Submit" value="Create">

            </form>    

        </div>

      </div>
      <%- include("./partials/footer")%>
  </body>
  </html>
