<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Papyrus/posters</title>
	<link rel="stylesheet" type="text/css" href="/css/posterst.css">
	<script src="https://kit.fontawesome.com/aa9a150395.js" crossorigin="anonymous"></script>
</head>
<body>
	<%- include("../models/header.ejs")%>
    <hr class="hr-navbar" />
	<section id="poster-page-header">
		<div id="poster-page-header-text">
			<span id="poster-page-header1">Frame your fav</span>
			<span id="poster-page-header1"><b>Sports & Shows!<i id="bolt" class="fa-sharp fa-solid fa-bolt"></i></b></span>
		</div>
		<div id="poster-page-header-img">
			<img src="/images\Posters\poster-head.png">
		</div>
	</section>
	<section id="discount-img">
		<img src="/images/Screenshot (179).png">
	</section>
	<section id="poster-page-main">
		<div id="main_head">
			<b>Premium Quality Posters</b><i class="fa-solid fa-arrow-right" id="books-icon"></i>

		</div>
		<div id="main-products">
			<div class="product-box">
				<span class="product-box-img">
					<img src="/images\Posters\FCB.jpeg">
				</span>
				<span class="product-box-caption">
					<span class="product_name1">FC Barcelona poster</span>
					<span class="product_price1a">Rs. 299.00</span>
					<span class="add-to-cart"><button>Add to cart</button></span>
				</span>
		</div>
		<div class="product-box">
				<span class="product-box-img">
					<img src="/images\Posters\Marvel.jpeg">
				</span>
				<span class="product-box-caption">
					<span class="product_name2">Marvel Avengers Poster</span>
					<span class="product_price2a">Rs. 299.00</span>
					<span class="add-to-cart"><button>Add to cart</button></span>
				</span>
		</div>
		<div class="product-box">
				<span class="product-box-img">
					<img src="/images\Posters\Messi.jpeg">
				</span>
				<span class="product-box-caption">
					<span class="product_name3">Lionel Messi Poster</span>
					<span class="product_price3a">Rs. 299.00</span>
					<span class="add-to-cart"><button>Add to cart</button></span>
				</span>
		</div>
		<div class="product-box">
				<span class="product-box-img">
					<img src="/images\Posters\MSD.png">
				</span>
				<span class="product-box-caption">
					<span class="product_name4">MS Dhoni Poster</span>
					<span class="product_price4a">Rs. 299.00</span>
					<span class="add-to-cart"><button>Add to cart</button></span>
				</span>
		</div>
		<div class="product-box">
				<span class="product-box-img">
					<img src="/images\Posters\Neymar.jpeg">
				</span>
				<span class="product-box-caption">
					<span class="product_name5">Neymar Jr. Poster</span>
					<span class="product_price5a">Rs. 299.00</span>
					<span class="add-to-cart"><button>Add to cart</button></span>
				</span>
		</div>
		<div class="product-box">
				<span class="product-box-img">
					<img src="/images\Posters\Stranger Things.jpeg">
				</span>
				<span class="product-box-caption">
					<span class="product_name6">Stranger Things Poster</span>
					<span class="product_price6a">Rs. 299.00</span>
					<span class="add-to-cart"><button>Add to cart</button></span>
				</span>
		</div>
		<div class="product-box">
				<span class="product-box-img">
					<img src="/images\Posters\Vettel Ferrari.jpeg">
				</span>
				<span class="product-box-caption">
					<span class="product_name7">Sebestian Vettel Potser</span>
					<span class="product_price7a">Rs. 299.00</span>
					<span class="add-to-cart"><button>Add to cart</button></span>
				</span>
		</div>
		<div class="product-box">
				<span class="product-box-img">
					<img src="/images\Posters\Virat Kohli.jpeg">
				</span>
				<span class="product-box-caption">
					<span class="product_name8">Virat Kohli Poster</span>
					<span class="product_price8a">Rs. 299.00</span>
					<span class="add-to-cart"><button>Add to cart</button></span>
				</span>
		</div>

		</div>
	</section>
	<section id="announcement">
		<div id="announcement_head">More Poster Designs Coming Soon!</div>
		<div id="announcement_cap">We're working on more poster designs!</div>
	</section>




	<%- include("../models/footer.ejs")%>

	<script src="../Assets/js/poster.js"></script>
</body>
</html>

