<section id="subscribe">
    <span id="sub-head">Subscribe to our emails</span>
    <span id="sub-cap">
    Be the first to know about new collections and exclusive offers.
    </span>
    <form>
        <input type="email" name="email" placeholder="Email" id="email-tab">
        <button type="submit" id="email-sub-btn"><i class="fa-solid fa-arrow-right"></i></button>
    </form>
</section>
</main>
<footer>
<span id="dot-head"><i class="fa-solid fa-ellipsis"></i></span>
<div id="tabs-list">
    <ul>
        <li><a href="/about us">About us</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="">Refund Policy</a></li>
        <li><a href="">Payment</a></li>
        <li><a href="">Terms of Service</a></li>
    </ul>
</div>
<div id="social-icons">
<ul>
    <li><a href="https://www.instagram.com/m.goyal07/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="https://www.facebook.com/Mridulgoyal03"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/i/flow/single_sign_on"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="https://www.youtube.com/watch?v=gpKxohYVFH8"><i class="fa-brands fa-youtube"></i></a></li>
</ul>
</div>
</footer>