<section id="search-header"> 
    <!-- <div id="search-bar">
        <form>
            <input type="search" name="Search">
            <button><i class="fas fa-search"></i></button>
        </form>
    </div> -->
    <div id="top-page">
<navbar class="navbar_box">
  <navtop class="navtop">
    <navtextbox>
      <p class="navtop_text">Papyrus</p>
    </navtextbox>
    <navicons class="navicons">
      <a id="search-btn-icon"><i class="fas fa-search"></i></a>

      <a href="/account">
        <i class="fas fa-user"></i>
      </a>

      <a href="/cartpage">
        <i class="fas fa-shopping-cart"></i>
      </a>

    </navicons>
  </navtop>
  <nav id="navbar" class="navbar">
    <ul>
      <div class="box_navbar">
        <div class="box_navbar_text">
          <p class="hover-text-nav"><a href="main.html"> 🏠 Home </a></p>
        </div>
      </div>
      <div class="box_navbar">
        <div class="box_navbar_text">
          
          <div class="dropdown">
            <span><p class="hover-text-nav">🛍 shop </p></span>
            <div class="dropdown-content">
            <p><a href="/books">Books</a></p>
            <p><a href="/poster">Posters</a></p>
            <p><a href="/books">Magzines</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="box_navbar">
        <div class="box_navbar_text">
          <p class="hover-text-nav"><a href="#hot-collections"> ✨ Hot Collections </a></p>
        </div>
      </div>
      <div class="box_navbar">
        <div class="box_navbar_text">
          <p class="hover-text-nav"><a href="/about us">📩 Contact Us</a></p>
        </div>
      </div>        
    </ul>

    <div class="topnav-right"></div>
  </nav>
</navbar>
</div>
</section>